@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
}

.text-poppins {
  font-family: "Poppins", serif;
}

.text-hubot {
  font-family: "Asap", sans-serif;
}

.text-monstserrat {
  font-family: "Montserrat", sans-serif;
}

.text-roboto-condensed {
  font-family: "Roboto Condensed", serif;
}

.debug {
  background-color: blue;
}

.side div {
  scrollbar-width: thin;
}

.nav-nextui header {
  max-width: 100%;
  padding-left: 0px;
}

.side2 nav div {
  background-color: black;
}

.sideHide div {
  scrollbar-width: none;
}

.catatan label {
  font-size: 0.9rem;
}

.catatan div {
  border-radius: 7px;
}

.pg li {
  /* border: 1.5px solid silver; */
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
